<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @intervention_status.name %>
</p>

<%= link_to 'Edit', edit_intervention_status_path(@intervention_status) %> |
<%= link_to 'Back', intervention_statuses_path %>
