<center><h1>Dashboard ViP Services</h1></center>

<center>
<table>
<tr>
<th>
<%= link_to "Manage Technicians", '/users', :class => "signup_button " %>
</th>
<th>
<%= link_to "Manage VIP Users", '/vips', :class => "signup_button_2 " %>
</th>
</tr>
</table>

<table>
<tr>
<th>
<%= link_to "Manage Monitoring", '/monitorings', :class => "signup_button_3 " %>
</th>
<th>
<%= link_to "Manage Statuses", '/interventions', :class => "signup_button_4 " %>
</th>
</tr>
</table>
</center>