<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monitoring_status.name %>
</p>

<%= link_to 'Edit', edit_monitoring_status_path(@monitoring_status) %> |
<%= link_to 'Back', monitoring_statuses_path %>
